<div class="row visit-list">
  <div class="row">
    <section>
      <div class="column action-bar">
      </div>
      <h1>Check In</h1>
      <%= for visit <- @visits do %>
        <div class="column visit-row">
          <span><%= visit.member.first_name <> " " <> visit.member.last_name%></span>
          <span><%= format_date_time(visit.inserted_at) %></span>
        </div>
      <% end %>
    </section>
  </div>
</div>
